<%= content_for :angular_app do %>
  ng-app="Pinboard"
<% end %>
<div class="container" ng-controller="UsersCtrl">
  <div class="row">
    <div class="col-xs-12">
      <div ui-view>
      </div>
    </div>
  </div>
</div>
