// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.green-text {
  color: green;
}
.red-text {
  color: red;
}
