<ul ng-if='errors'>
  <li ng-repeat="error in errors">{{error}}</li>
</ul>
<form name='pinForm' ng-submit='createPin(pinParams)'>

  <div class="form-group">
    <label for="item_name">Name: </label>
    <input type="text" name='item_name' ng-model='pinParams.item_name' class='form-control'>
  </div>

  <div class="form-group">
    <label for="description">Description:</label>
    <textarea name='description' ng-model='pinParams.description' class='form-control'></textarea>
  </div>

  <div class="form-group">
    <input type="radio" name='buy_sell' ng-model='pinParams.buy_sell' ng-value='true'> Buy
    <input type="radio" name='buy_sell' ng-model='pinParams.buy_sell' ng-value='false'> Sell
  </div>

  <div class="form-group">
    <input type="submit" class='btn btn-primary'>
  </div>

</form>
